<app-navbar></app-navbar>
<div
  class="lg:grid grid-rows-1 grid-flow-col gap-4 w-[60vw] mx-auto justify-between mt-20 mb-20 bg-teal-50 rounded drop-shadow-lg pt-5 pb-5 sm:flex-col my-3"
>
  <div class="form mx-5">
    <h1
      href="#"
      class="text-dark rounded-md px-3 py-2 text-sm font-medium"
      aria-current="page"
    >
      Fertilizer Recommendation
    </h1>
    <p class="mx-auto">
      Harvest AI analyzes soil data to recommend optimal fertilizer <br />
      application strategies, taking into account crop type, growth stage, and
      other factors.
    </p>
    <br />
    <form
      [formGroup]="fertilizer"
      class="mx-auto"
      (ngSubmit)="fertilizersSubmit()"
    >
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
          <input
            type="number"
            formControlName="nitrogen"
            id="nitrogen"
            placeholder=""
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          />
          <label
            for="nitrogen"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Ratio of Nitrogen</label
          >
        </div>
        <div class="relative z-0 w-full mb-6 group">
          <input
            type="number"
            formControlName="phosphorous"
            id="phosphorous"
            placeholder=""
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          />
          <label
            for="phosphorous"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Ratio of Phosphorous</label
          >
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
          <input
            type="number"
            formControlName="potassium"
            id="potassium"
            placeholder=""
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          />
          <label
            for="potassium"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Ratio of Potassium</label
          >
        </div>
        <div class="relative z-0 w-full mb-6 group">
          <select
            formControlName="soilType"
            class="form-select"
            aria-label="Default select example"
          >
            <option value="" selected disabled>Type of Soil</option>
            <option *ngFor="let type of SoilType" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
          <input
            type="number"
            formControlName="temparature"
            id="temparature"
            placeholder=""
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          />
          <label
            for="temparature"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Temperature in Celsius</label
          >
        </div>
        <div class="relative z-0 w-full mb-6 group">
          <input
            type="number"
            formControlName="humidity"
            id="humidity"
            placeholder=""
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          />
          <label
            for="humidity"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >% of Humidity</label
          >
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
          <input
            type="number"
            formControlName="moisture"
            id="moisture"
            placeholder=""
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          />
          <label
            for="moisture"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Moisture of Soil</label
          >
        </div>
        <div class="relative z-0 w-full mb-6 group">
          <select
            formControlName="cropType"
            class="form-select"
            aria-label="Default select example"
          >
            <option value="" selected disabled>Type of Crop</option>
            <option *ngFor="let type of CropType" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>
      </div>
      <div
        class="inline-flex rounded-md shadow-sm w-[100%] mx-auto justify-between"
        role="group"
      >
        <button
          type="submit"
          mat-button
          class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
        >
          Submit
        </button>
        <a
          routerLink="/features/crop-recommendation"
          mat-button
          class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
        >
          Go to Crop Recommendation
        </a>
      </div>
    </form>
  </div>
  <div class="form-img mx-5">
    <img
      src="assets/images/fertilizer.jpg"
      class="rounded-md w-[100%] h-[100%]"
    />
  </div>
</div>

<app-footer></app-footer>
