<form>
    <label for="nitrogen">Nitrogen:</label>
    <input type="number" id="nitrogen" name="nitrogen"><br><br>
  
    <label for="phosphorus">Phosphorus:</label>
    <input type="number" id="phosphorus" name="phosphorus"><br><br>
  
    <label for="potassium">Potassium:</label>
    <input type="number" id="potassium" name="potassium"><br><br>
  
    <label for="ph">pH:</label>
    <input type="number" id="ph" name="ph"><br><br>
  
    <label for="rainfall">Rainfall:</label>
    <input type="number" id="rainfall" name="rainfall"><br><br>
  
    <label for="state">State:</label>
    <select id="state" name="state">
      <option value="">--Select State--</option>
      <option value="Andhra Pradesh">Andhra Pradesh</option>
      <option value="Arunachal Pradesh">Arunachal Pradesh</option>
      <option value="Assam">Assam</option>
      <!-- Add more states here -->
    </select><br><br>
  
    <label for="city">City:</label>
    <select id="city" name="city">
      <option value="">--Select City--</option>
    </select><br><br>
  
    <input type="submit" value="Submit">
  </form>
  