<section class="mb-1 0 background-radial-gradient shadow bottom">
  <div class="px-6 py-12 md:px-12 text-center lg:text-left">
    <div class="container mx-auto xl:px-32">
      <div class="grid lg:grid-cols-2 gap-12 items-center">
        <div class="mt-12 lg:mt-0">
          <h1
            class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12"
            style="color: hsl(218, 81%, 95%)"
          >
          HARVEST AI<br /><p class="mt-6 text-lg leading-8 text-gray-300">
            ML crop recommendations for farmers to optimize yield, uses machine
            learning to analyze agricultural data.
          </p>
          </h1>
          <a
            class="inline-block px-7 py-3 mr-2 bg-gray-200 text-gray-700 font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
            (click)="goToElement('feature-intro')"
            role="button"
            >Get started</a
          >
          <a
            class="inline-block px-7 py-3 bg-transparent text-white font-medium text-sm leading-snug uppercase rounded focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
            routerLink="/aim-of-project"
            role="button"
            >Learn more</a
          >
        </div>
        <div class="mb-12 lg:mb-0">
          <img
            src="assets/images/main one.jpg"
            class="w-full rounded-lg shadow-lg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
<div id="feature-intro">
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8"
  >
    <div>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Technical Specifications
      </h2>
      <p class="mt-4 text-gray-500">
        Our platform offers a range of cutting-edge features designed to help
        farmers make data-driven decisions and optimize their crop yields. Some
        of the key features of Harvest AI include :
      </p>

      <dl
        class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8"
      >
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Feature Name</dt>
          <dd class="mt-2 text-sm text-gray-500">Crop Recommendations</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Description</dt>
          <dd class="mt-2 text-sm text-gray-500">
            Harvest AI's crop recommendation feature uses ML algorithms to
            provide personalized insights on the best crops to plant for optimal
            yields and profitability.
          </dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Feature Name</dt>
          <dd class="mt-2 text-sm text-gray-500">Fertilizer Recommendation</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Description</dt>
          <dd class="mt-2 text-sm text-gray-500">
            Harvest AI analyzes soil data to recommend optimal fertilizer
            application strategies, taking into account crop type, growth stage,
            and other factors.
          </dd>
        </div>
      </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      <img
        src="assets/images/pi1.jpg"
        alt=""
        class="feature-img rounded-lg bg-gray-100"
        width="1824"
      />
      <img
        src="assets/images/pi2.jpg"
        alt=""
        class="feature-img rounded-lg bg-gray-100"
      />
      <img
        src="assets/images/pi3.jpg"
        alt=""
        class="feature-img rounded-lg bg-gray-100"
      />
      <img
        src="assets/images/pi4.jpg"
        alt=""
        class="feature-img rounded-lg bg-gray-100"
      />
    </div>
  </div>
  <section
    class="p-4 lg:p-8 dark:bg-gray-800 dark:text-gray-100 w-[80%] mx-auto"
  >
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      Feature Section
    </h2>
    <div class="container mx-auto space-y-12">
      <div
        class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row"
      >
        <img
          src="assets/images/crop.jpg"
          alt=""
          class="h-80 dark:bg-gray-500 aspect-video rounded-md shadow-sm"
        />
        <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
          <h3 class="text-3xl font-bold">Crop Recommendations</h3>
          <p class="my-6 dark:text-gray-400">
            Harvest AI's crop recommendation feature uses ML algorithms to
            provide personalized insights on the best crops to plant for optimal
            yields and profitability.
          </p>
          <a
            class="feature-section bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
            routerLink="features/crop-recommendation"
            >Explore</a
          >
        </div>
      </div>
      <div
        class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row-reverse"
      >
        <img
          src="assets/images/fertilizer.jpg"
          alt=""
          class="h-80 dark:bg-gray-500 aspect-video rounded-md shadow-sm"
        />
        <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
          <h3 class="text-3xl font-bold">Fertilizer Recommendation</h3>
          <p class="my-6 dark:text-gray-400">
            Harvest AI analyzes soil data to recommend optimal fertilizer
            application strategies, taking into account crop type, growth stage,
            and other factors.
          </p>
          <a
            class="feature-section bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
            routerLink="features/fertilizer-prediction"
            >Explore</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
