<app-navbar></app-navbar>
<div class="container my-24 px-6 mx-auto">
  <section class="mb-32 text-gray-800 text-center m-auto">
    <h2 class="text-3xl font-bold mb-12">Testimonials</h2>
    <div class="grid md:grid-cols-3 gap-x-6 xl:gap-x-12">
      <div
        *ngFor="let member of teamMembers; let i = index"
        [ngClass]="{
          'mb-6 lg:mb-0': i % 3 !== 2
        }"
      >
        <div class="bg-white block rounded-lg shadow-lg">
          <div class="relative overflow-hidden bg-no-repeat bg-cover">
            <img [src]="member.image" class="w-full rounded-t-lg"/>
            <a href="#!">
              <div
                class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
              ></div>
            </a>
            <svg
              class="absolute"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1440 320"
              style="left: 0; bottom: 0"
            >
              <path
                fill="#fff"
                d="M0,288L48,256C96,224,192,160,288,160C384,160,480,224,576,213.3C672,203,768,117,864,85.3C960,53,1056,75,1152,69.3C1248,64,1344,32,1392,16L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
              ></path>
            </svg>
          </div>
          <div class="p-6">
            <h5 class="text-lg font-bold mb-2">{{ member.name }}</h5>
            <h6 class="font-medium text-blue-600 mb-4">{{ member.role }}</h6>
            <p>
              {{ member.desc }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
